@use 'layout';
@use 'hamburger';
@use 'toggle';
@use 'colors';


:root {
  --gray: #ccccd7;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  height: 100vh;

}

#__nuxt, .el-container{
  height: 100%;
}

.el-main{
}