.el-header {
  --el-header-height: 70px !important;
  --el-header-padding: 0 !important;

  a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
  }

  #logo {
    height: inherit;
    padding: 5px;
  }
}

.el-menu {
  height: inherit;

}

.el-menu--horizontal {
  height: inherit !important;
  background-color: #1c3452 !important;
}


.el-aside {
  //background-color: lightgrey;
}

.el-main {
  //background-color: yellow;
}


